NODE_ENV="development"
API_PORT=4000
DATABASE_URL="file:./dev.db"
FRONTEND_ORIGIN="http://localhost:3000"

JWT_ACCESS_SECRET="replace-with-a-unique-random-secret-of-at-least-32-characters"
JWT_REFRESH_SECRET="replace-with-another-unique-random-secret-of-at-least-32-characters"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

AUTH_GOOGLE_ID=""
AUTH_REFRESH_COOKIE_NAME="stu_refresh_token"
AUTH_COOKIE_SAME_SITE="lax"
AUTH_COOKIE_SECURE="false"
AUTH_COOKIE_PATH="/api/auth"
# AUTH_COOKIE_DOMAIN=""
# AUTH_REQUIRE_EMAIL_VERIFICATION="false"

UPLOAD_DIR="uploads/files"
